<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema Garrahan </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<header>
    <nav>
        <a href='@Url.Action("C_Home", new {idUsuario = 1})'><img class="logo" src="/img/logo2.png" alt="Logo"></a>
        <ul class="nav-links">
            <li><a class = "linkHeader" href='@Url.Action("C_Home", new {idUsuario = 1})'>Inicio</a></li>
            <li><a class="linkHeader" href="#">Ayuda</a></li>
            <li><a class="linkHeader" href="#">Contacto</a></li>
            <li><a class = "linkHeader" href='@Url.Action("Salir")'>Salir</a></li>
        </ul>
    </nav>
</header>
<body>

    <main role="main">
        @RenderBody()
    </main>

 <!--   <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html> 
